[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "tpl/raja"]
	path = tpl/raja
	url = https://github.com/LLNL/RAJA.git
	branch = develop
[submodule "tpl/chai"]
	path = tpl/chai
	url = https://github.com/LLNL/CHAI.git
	branch = develop
[submodule "tpl/umpire"]
	path = tpl/umpire
	url = https://github.com/LLNL/Umpire.git
[submodule "tpl/googletest"]
	path = tpl/googletest
	url = https://github.com/google/googletest.git
