[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "tpl/raja"]
	path = tpl/raja
	url = https://github.com/tristanvdb/RAJA.git
	branch = develop
[submodule "tpl/chai"]
	path = tpl/chai
	url = https://github.com/LLNL/CHAI.git
	branch = develop
[submodule "tpl/zfp"]
	path = tpl/zfp
	url = https://github.com/tristanvdb/zfp.git
